@import url('/styles/global.css');

.progress-bar-container {
    width: 100%;
    background-color: var(light-color);
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 15px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--success-color)
    border-radius: 25px;
    transition: width 0.4s ease;
}